$day-cell: 100px;
$days-per-row: 7;
$gap: 1px;
$border-width: 1px;
$padding: 5px;
$animation-duration: 0.5s;
$hover-color: #ffbfcb;
$border-color: #000;
$bg-main-color: #eee;
$total-gap: ($days-per-row - 1) * $gap;
$calendar-width: ($day-cell * $days-per-row) + $total-gap + 2 * $padding;
$days: (mon, tue, wed, thu, fri, sat, sun);
